footer {
    background-color: #00FF00;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

